# Compiler files
cache/
out/

# Docs
docs/

# Dotenv file
.env


# Added by cargo
/target

# forge: we do not use submodule instead we specify dependencies in package.json `prepare` script
# if you use git and want to make use of the submodule
# delete that line and execute `just reinstall git`

/lib


# npm

/run.js
/install.js
/binary.js
/binary-install.js
node_modules
pnpm-lock.yaml

.DS_Store